@use "base/mixins" as m;

.container {
    margin: 0 auto;
    padding: 4rem 0;
    max-width: 1200px;
    width: 98%;
}
.container-sm {
    @extend .container;
    max-width: 700px;
}
.container-md {
    @extend .container;
    max-width: 1000px;
}

.ucase {
    text-transform: uppercase;
}

.hidden {
    display: none !important;
}
.invisible {
    visibility: hidden !important;
}
.transparent {
    opacity: 0 !important;
}

.no-scroll {
    overflow: hidden !important;
}

.button {
    @include m.button();
}