#images-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.85);
    backdrop-filter: blur(3px);
    z-index: 9;

    &.show {
        display: flex;
        align-items: center;
    }

    .content {
        // flex: 1;
        margin: 0 auto;
        
        img {
            margin: 0 auto;
            display: block;

            height: auto;
            max-height: 92vh;
            width: auto;
            max-width: 100%;
        }
    }

    .close-modal-icon {
        position: absolute;
        top: 0;
        right: 0;
        padding: .5rem;
    }

    .previous, .next {
        height: 100%;
        padding: 0 .7rem;
    }
}